//
// MDC Theme
//

@import '@material/theme/color-palette';

$mdc-theme-primary: #dedede;
$mdc-theme-on-primary: #dedede;

$mdc-theme-secondary: #dedede;
$mdc-theme-on-secondary: #dedede;

$mdc-theme-background: #454545;
$mdc-theme-surface: #454545;
$mdc-theme-on-surface: #dedede;

$mdc-theme-error: $material-color-red-900;
