//
// MDC Theme
//

@import '@material/theme/color-palette';

$mdc-theme-primary: #4e8cb6;
$mdc-theme-secondary: #4e8cb6;

$mdc-theme-background: #dedede;
$mdc-theme-surface: #797979;
$mdc-theme-on-surface: white;

$mdc-theme-error: $material-color-red-900;
